[submodule "pack/cedarvim/start/nerdtree"]
	path = pack/cedarvim/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/cedarvim/start/vim-bundler"]
	path = pack/cedarvim/start/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "pack/cedarvim/start/vim-rails"]
	path = pack/cedarvim/start/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "pack/cedarvim/start/vim-trailing-whitespace"]
	path = pack/cedarvim/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "pack/cedarvim/start/ctrlp.vim"]
	path = pack/cedarvim/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/cedarvim/start/vim-gitgutter"]
	path = pack/cedarvim/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/cedarvim/start/vim-fugitive"]
	path = pack/cedarvim/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/cedarvim/start/vim-rhubarb"]
	path = pack/cedarvim/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "pack/cedarvim/start/vim-endwise"]
	path = pack/cedarvim/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/cedarvim/start/vim-sensible"]
	path = pack/cedarvim/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/cedarvim/start/vim-unimpaired"]
	path = pack/cedarvim/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/cedarvim/start/vim-javascript"]
	path = pack/cedarvim/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/cedarvim/start/vim-commentary"]
	path = pack/cedarvim/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/cedarvim/start/ultisnips"]
	path = pack/cedarvim/start/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "pack/cedarvim/start/html5.vim"]
	path = pack/cedarvim/start/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "pack/cedarvim/start/vim-slim"]
	path = pack/cedarvim/start/vim-slim
	url = https://github.com/slim-template/vim-slim
[submodule "pack/cedarvim/start/vim-jsx-pretty"]
	path = pack/cedarvim/start/vim-jsx-pretty
	url = https://github.com/maxmellon/vim-jsx-pretty
[submodule "pack/cedarvim/start/yats.vim"]
	path = pack/cedarvim/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule "pack/cedarvim/start/fzf.vim"]
	path = pack/cedarvim/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/cedarvim/start/fzf"]
	path = pack/cedarvim/start/fzf
	url = https://github.com/junegunn/fzf.git
